.cursorable {
  cusror: pointer;
}

.folders_list_container {
}

.folders_list {
}

.folder_view_container {
}

.post_card {
}

.post_card_img {
}

.square_picture {
  position:relative;
  width:100%;
  padding-top:100%;
  overflow:hidden;

  > img {
	position:absolute;
	top:0;
	width:100%;
  }
}

.post_card_text {
}

.prepare_container {
}

.prepare_pages_list {
}

.prepare_page_size_ref {
  position:absolute;
  height: 0;
  left: $card-spacer-x;
  right: $card-spacer-x;
}

.prepare_page_col {
  width: 100mm;
  margin: 0 1rem 1rem 0;
}

.prepare_page {
}

.prepare_controls {
}

$fade_overflow_post_spread: 3;

.prepare_outer_cutter {
//  padding: ($card-spacer-x) ($card-spacer-x) ($fade_overflow_post_spread * $card-spacer-x) ($card-spacer-x);
  //  margin: (-$card-spacer-x) (-$card-spacer-x) (-$fade_overflow_post_spread * $card-spacer-x) (-$card-spacer-x);
  overflow: hidden;
  transform-origin: top left;
//  padding-bottom: $fade_overflow_post_spread * $card-spacer-x;
//  margin-bottom: -$fade_overflow_post_spread * $card-spacer-x;
    padding: ($card-spacer-x) ($card-spacer-x) ($fade_overflow_post_spread * $card-spacer-x) 0;
   margin: (-$card-spacer-x) (-$card-spacer-x) (-$fade_overflow_post_spread * $card-spacer-x) 0;
  position:absolute;
  top: 0;//$card-spacer-x;
  bottom: $card-spacer-x;
  left: 0;//$card-spacer-x;
  right: 0;//$card-spacer-x;


  &::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $card-spacer-x * $fade_overflow_post_spread;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  }
}

$preview_box_scale: .5;
.prepare_preview_box {
  position: relative;
  margin: 0 auto;
  transform-origin: top left;

  &.a5 {
	width: 73mm; //2X
	height: 105mm;
  }
}

.prepare_preview_page {
  position: absolute;
  transform: scale($preview_box_scale);

  border: 1px solid silver;
  box-shadow: 5pt 5pt 20pt rgba(0, 0, 0, .4);

  transform-origin: top left;

  > div {
	overflow: visible !important;
  }
}

//----- template css overwrite
.prepare_preview_page .body {
  overflow: visible;
}

//------------------
.card_square_img {
  padding-top: 100%; // to keep it squiare;
  background-position: center center;
  background-size: cover;
}

.card_text_h_limit {
  line-height: 1.2em;
  max-height: 6em;
  overflow: hidden;
}