<h2 style="clear:both">First template</h2>
<div style="width:50%; min width:500px; margin:0 auto">
<div class='tmp_title'>{{title}}</div>
<img src='{{media_url}}' style="width:30%; float:right;" alt=''/>
{{{page_break}}}
<p style='font-size:14pt'>{{{post}}}</p>
</div>